body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

header {
  background: #222;
  line-height: 2em;
  padding: 1em;
  overflow: hidden;
}

header h1 {
  font-size: 1em;
  display: inline-block;
  margin: 0;
}

header a {
  color: #FFF;
  text-decoration: none;
}

#toggle {
  display: none;
}

nav {
  display:none;
  overflow: hidden;
}

nav ul {
  list-style: none;
  padding: 0;
}

label {
  color: #FFF;
  float: right;
  font-size: 1.5em;
}

i {
  vertical-align: middle;
}

input:checked ~ nav {
  display: block;
}

#intro {
  background: url("/img/bg.png");
  padding: 1.5em;
  text-align: center;
}

#intro img {
  width: 30%;
}

.action {
  background: #D32C36;
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;
}
