body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

header {
  background: #222;
  line-height: 2em;
  padding: 1em;
  overflow: hidden;
}

header h1 {
  font-size: 1em;
  display: inline-block;
  margin: 0;
}

header a {
  color: #FFF;
  text-decoration: none;
}

#toggle {
  display: none;
}

nav {
  display:none;
  overflow: hidden;
}

nav ul {
  list-style: none;
  padding: 0;
}

label {
  color: #FFF;
  cursor: pointer;
  float: right;
  font-size: 1.5em;
}

input:checked ~ nav {
  display: block;
}

#intro {
  background: url("../img/bg.png") #F0F0F0;
  padding: 2.5em 1.5em;
  text-align: center;
}

#intro img {
  width: 30%;
}

.action {
  border-radius: 5px;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.action i {
  margin-right: 0.2em;
}

.action.buy {
  background: #D32C36;
  margin-top: 0.5em;
  padding: 0.5em 1em;
}

.action.sponsor {
  background: SteelBlue;
  padding: 0.5em 1.8em;
}
