<section id="intro">
  <img src="../img/logo.png">
  <p><i><%= t("presents") %></i></p>
  <h2>Ruby Conf Lima</h2>
  <p><%= t("date") %></p>
  <a href="#" class="action">
    <i class="fa fa-ticket"></i>
    <%= t("register") %>
  </a>
</section>
